@import 'var';
@import 'mixins';

body {
  color: $txt-col;
  font-family: $main-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  @include a();
}
input {
  @include input();
}
.btn {
  @include btn();
}

ul,
ol {
  list-style-position: inside;
}
ul {
  list-style: none;
}
