$txt-col: #333;
$header-col: #2e3a46;
$main-bg: #1e2e3c;
$white: #fff;
$light-txt: #ddd;
$grey-txt: #999;
$star: #f6bc44;
$starHover: #f6e444;
$brand: #64d762;
$colorForInputs: rgba(255, 255, 255, 0.082);

// thpography
$sectionFontSize: 1.4rem;
$main-font: 'Montserrat', sans-serif;

// inputs
$boderRadForInputs: 3px;
