$txt-col: #333;
$header-col1: #040704;
$header-col2: #111113;
$main-bg: #141414;
$white: #fff;
$SearchTxtCol: #fcfffb;
$titleOfGrupsCol: #7f7f7f;
$star: #f6bc44;
$starHover: #f6e444;
$brand: #e63631;
$searchBarCol: #393939;

// thpography
$sectionFontSize: 1.4rem;
$main-font: 'Montserrat', sans-serif;

// inputs
$boderRadForInputs: 3px;
